<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>R</key>
    <dict>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
    </dict>
    <key>ampersand</key>
    <dict>
      <key>paragraph</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-60</integer>
      <key>public.kern2.U</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-50</integer>
      <key>public.kern2.Y</key>
      <integer>-70</integer>
      <key>public.kern2.aste</key>
      <integer>-100</integer>
      <key>public.kern2.four</key>
      <integer>-10</integer>
      <key>public.kern2.interro</key>
      <integer>-60</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.one</key>
      <integer>-50</integer>
      <key>public.kern2.t</key>
      <integer>-40</integer>
      <key>public.kern2.tiret</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.B</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.X</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-30</integer>
      <key>public.kern2.point</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.E</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.g</key>
      <integer>-30</integer>
      <key>public.kern2.o</key>
      <integer>-30</integer>
      <key>public.kern2.one</key>
      <integer>-20</integer>
      <key>public.kern2.s</key>
      <integer>-20</integer>
      <key>public.kern2.t</key>
      <integer>-40</integer>
      <key>public.kern2.tiret</key>
      <integer>-40</integer>
      <key>public.kern2.u</key>
      <integer>-20</integer>
      <key>public.kern2.v</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.F</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-60</integer>
      <key>public.kern2.J</key>
      <integer>-100</integer>
      <key>public.kern2.a</key>
      <integer>-65</integer>
      <key>public.kern2.g</key>
      <integer>-60</integer>
      <key>public.kern2.n</key>
      <integer>-40</integer>
      <key>public.kern2.o</key>
      <integer>-60</integer>
      <key>public.kern2.point</key>
      <integer>-90</integer>
      <key>public.kern2.s</key>
      <integer>-60</integer>
      <key>public.kern2.t</key>
      <integer>-20</integer>
      <key>public.kern2.tiret</key>
      <integer>-40</integer>
      <key>public.kern2.u</key>
      <integer>-40</integer>
      <key>public.kern2.v</key>
      <integer>-30</integer>
      <key>public.kern2.z</key>
      <integer>-30</integer>
      <key>x</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.G</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-20</integer>
      <key>public.kern2.X</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.K</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-30</integer>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.U</key>
      <integer>-40</integer>
      <key>public.kern2.Y</key>
      <integer>-30</integer>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>public.kern2.g</key>
      <integer>-30</integer>
      <key>public.kern2.o</key>
      <integer>-30</integer>
      <key>public.kern2.quote</key>
      <integer>-20</integer>
      <key>public.kern2.s</key>
      <integer>-20</integer>
      <key>public.kern2.t</key>
      <integer>-60</integer>
      <key>public.kern2.v</key>
      <integer>-30</integer>
      <key>public.kern2.w</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-90</integer>
      <key>public.kern2.U</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-80</integer>
      <key>public.kern2.Y</key>
      <integer>-70</integer>
      <key>public.kern2.aste</key>
      <integer>-140</integer>
      <key>public.kern2.g</key>
      <integer>-10</integer>
      <key>public.kern2.interro</key>
      <integer>-80</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.quote</key>
      <integer>-80</integer>
      <key>public.kern2.t</key>
      <integer>-30</integer>
      <key>public.kern2.v</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.J</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-20</integer>
      <key>public.kern2.X</key>
      <integer>-30</integer>
      <key>public.kern2.Y</key>
      <integer>-30</integer>
      <key>public.kern2.point</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.P</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.J</key>
      <integer>-40</integer>
      <key>public.kern2.X</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
      <key>public.kern2.point</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.R</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.S</key>
    <dict>
      <key>public.kern2.X</key>
      <integer>-30</integer>
      <key>public.kern2.Y</key>
      <integer>-10</integer>
      <key>public.kern2.point</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-60</integer>
      <key>public.kern2.J</key>
      <integer>-90</integer>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.S</key>
      <integer>-16</integer>
      <key>public.kern2.a</key>
      <integer>-80</integer>
      <key>public.kern2.n</key>
      <integer>-60</integer>
      <key>public.kern2.o</key>
      <integer>-80</integer>
      <key>public.kern2.point</key>
      <integer>-80</integer>
      <key>public.kern2.s</key>
      <integer>-80</integer>
      <key>public.kern2.u</key>
      <integer>-70</integer>
      <key>public.kern2.v</key>
      <integer>-60</integer>
      <key>public.kern2.z</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.U</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.point</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-50</integer>
      <key>public.kern2.J</key>
      <integer>-60</integer>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.S</key>
      <integer>-10</integer>
      <key>public.kern2.a</key>
      <integer>-40</integer>
      <key>public.kern2.g</key>
      <integer>-40</integer>
      <key>public.kern2.n</key>
      <integer>-40</integer>
      <key>public.kern2.o</key>
      <integer>-60</integer>
      <key>public.kern2.point</key>
      <integer>-70</integer>
      <key>public.kern2.s</key>
      <integer>-40</integer>
      <key>public.kern2.tiret</key>
      <integer>-50</integer>
      <key>public.kern2.u</key>
      <integer>-40</integer>
      <key>public.kern2.v</key>
      <integer>-6</integer>
      <key>public.kern2.x</key>
      <integer>-16</integer>
      <key>public.kern2.z</key>
      <integer>-16</integer>
    </dict>
    <key>public.kern1.X</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-30</integer>
      <key>public.kern2.S</key>
      <integer>-30</integer>
      <key>public.kern2.a</key>
      <integer>-16</integer>
      <key>public.kern2.o</key>
      <integer>-40</integer>
      <key>public.kern2.tiret</key>
      <integer>-50</integer>
      <key>public.kern2.u</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-60</integer>
      <key>public.kern2.J</key>
      <integer>-80</integer>
      <key>public.kern2.O</key>
      <integer>-30</integer>
      <key>public.kern2.S</key>
      <integer>-16</integer>
      <key>public.kern2.a</key>
      <integer>-50</integer>
      <key>public.kern2.g</key>
      <integer>-80</integer>
      <key>public.kern2.n</key>
      <integer>-40</integer>
      <key>public.kern2.o</key>
      <integer>-80</integer>
      <key>public.kern2.point</key>
      <integer>-80</integer>
      <key>public.kern2.s</key>
      <integer>-60</integer>
      <key>public.kern2.u</key>
      <integer>-40</integer>
      <key>public.kern2.v</key>
      <integer>-16</integer>
      <key>public.kern2.x</key>
      <integer>-30</integer>
      <key>public.kern2.z</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.Z</key>
    <dict>
      <key>public.kern2.tiret</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.aste</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-100</integer>
    </dict>
    <key>public.kern1.eth</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.f</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-40</integer>
      <key>public.kern2.J</key>
      <integer>-60</integer>
      <key>public.kern2.a</key>
      <integer>-16</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.point</key>
      <integer>-70</integer>
      <key>public.kern2.s</key>
      <integer>-16</integer>
    </dict>
    <key>public.kern1.interro</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-120</integer>
      <key>public.kern2.V</key>
      <integer>-60</integer>
      <key>public.kern2.interro</key>
      <integer>-80</integer>
    </dict>
    <key>public.kern1.k</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-30</integer>
      <key>public.kern2.t</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.n</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-70</integer>
      <key>public.kern2.V</key>
      <integer>-40</integer>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
      <key>public.kern2.v</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-80</integer>
      <key>public.kern2.V</key>
      <integer>-60</integer>
      <key>public.kern2.X</key>
      <integer>-40</integer>
      <key>public.kern2.Y</key>
      <integer>-80</integer>
      <key>public.kern2.point</key>
      <integer>-36</integer>
      <key>public.kern2.x</key>
      <integer>-26</integer>
    </dict>
    <key>public.kern1.point</key>
    <dict>
      <key>public.kern2.S</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-80</integer>
      <key>public.kern2.V</key>
      <integer>-70</integer>
      <key>public.kern2.Y</key>
      <integer>-80</integer>
      <key>public.kern2.o</key>
      <integer>-36</integer>
      <key>public.kern2.one</key>
      <integer>-90</integer>
      <key>public.kern2.t</key>
      <integer>-70</integer>
      <key>public.kern2.v</key>
      <integer>-40</integer>
      <key>seven</key>
      <integer>-60</integer>
      <key>zero</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>public.kern2.point</key>
      <integer>-80</integer>
    </dict>
    <key>public.kern1.s</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-80</integer>
      <key>public.kern2.V</key>
      <integer>-40</integer>
      <key>public.kern2.Y</key>
      <integer>-60</integer>
      <key>public.kern2.t</key>
      <integer>-16</integer>
      <key>public.kern2.x</key>
      <integer>-26</integer>
    </dict>
    <key>public.kern1.tiret</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-80</integer>
      <key>public.kern2.V</key>
      <integer>-50</integer>
      <key>public.kern2.X</key>
      <integer>-40</integer>
      <key>public.kern2.Y</key>
      <integer>-40</integer>
      <key>public.kern2.Z</key>
      <integer>-20</integer>
      <key>seven</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.u</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-60</integer>
      <key>public.kern2.V</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.v</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-60</integer>
      <key>public.kern2.V</key>
      <integer>-6</integer>
      <key>public.kern2.Y</key>
      <integer>-16</integer>
      <key>public.kern2.a</key>
      <integer>-20</integer>
      <key>public.kern2.point</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.x</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-16</integer>
      <key>public.kern2.Y</key>
      <integer>-30</integer>
      <key>public.kern2.o</key>
      <integer>-26</integer>
      <key>public.kern2.s</key>
      <integer>-26</integer>
    </dict>
    <key>public.kern1.z</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-60</integer>
      <key>public.kern2.V</key>
      <integer>-16</integer>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
    </dict>
    <key>question</key>
    <dict>
      <key>questiondown</key>
      <integer>-120</integer>
    </dict>
    <key>seven</key>
    <dict>
      <key>public.kern2.point</key>
      <integer>-70</integer>
      <key>public.kern2.tiret</key>
      <integer>-70</integer>
    </dict>
    <key>two</key>
    <dict>
      <key>public.kern2.tiret</key>
      <integer>-20</integer>
    </dict>
    <key>zero</key>
    <dict>
      <key>public.kern2.point</key>
      <integer>-40</integer>
    </dict>
  </dict>
</plist>
